.prose pre {
    color: initial;
    @apply bg-gray-200;
}

.prose :not(header) a {
    @apply text-blue-500;
}

::selection {
    @apply text-white;
    @apply bg-blue-400;
}

#vue-search {
    input[name='search'] {
        background-image: url('/assets/img/magnifying-glass.svg');
        background-position: 0.8em;
        background-repeat: no-repeat;
        border-radius: 25px;
        text-indent: 1.2em;
    }
    
    input[name='search'].transition-border {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        border-top-left-radius: .5rem;
        border-top-right-radius: .5rem;
    }
    
    .fade-enter-active {
        transition: opacity .5s;
    }
    
    .fade-leave-active {
        transition: opacity 0s;
    }
    
    .fade-enter,
    .fade-leave-to {
        opacity: 0;
    }
}


article.prose pre {
    @apply pt-0 pb-0 pl-0 pr-0 bg-transparent;
}

/*
 Margin and rounding are personal preferences,
 overflow-x-auto is recommended.
*/
pre {
    @apply my-4 overflow-x-auto rounded;
}
 
/*
 Add some vertical padding and expand the width
 to fill its container. The horizontal padding
 comes at the line level so that background
 colors extend edge to edge.
*/
pre code.torchlight {
    @apply block py-4 min-w-max;
}

/*
 Horizontal line padding.
*/
pre code.torchlight .line {
    @apply px-4;
}

/*
 Push the code away from the line numbers and
 summary caret indicators.
*/
pre code.torchlight .line-number,
pre code.torchlight .summary-caret {
    @apply mr-4;
}